wheel

argon2-cffi
passlib
authlib
psycopg2
pyjwt
redis
lxml
pyyaml
user-agents
python-magic
pillow

firebase-admin
boto3
apispec
sadisplay

flask
flask-cors
flask-sqlalchemy
flask-admin
flask-limiter[redis]

gunicorn
