<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
  <title>FROST</title>
  <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
  <style>
    h1,
    h4 {
      text-align: center;
    }

    section aside {
      display: table;
    }
  </style>

  <script>
    function formToJson(formID) {
      var formElement = document.getElementById(formID),
        inputElements = formElement.getElementsByTagName("input"),
        textareaElements = formElement.getElementsByTagName("textarea"),
        jsonObject = {};
      for (var i = 0; i < inputElements.length; i++) {
        var inputElement = inputElements[i];
        if (inputElement.type != "submit" && !inputElement.id.startsWith('_')) {
          jsonObject[inputElement.name] = inputElement.value;
        }
      }
      for (var i = 0; i < textareaElements.length; i++) {
        var textareaElement = textareaElements[i];
        jsonObject[textareaElement.name] = textareaElement.value;
      }
      return JSON.stringify(jsonObject);
    }
  </script>
</head>

<body>

  <section>
    <aside class="item">
      <h1>이메일로 비밀번호 초기화</h1>
      <h4>아래 빈 칸에 새 비밀번호를 입력 후<br />변경 버튼을 눌러주세요.</h4>
      <form id="password_reset_form" action="/api/dev/account/change-password/" method="post">

        <label for="new_password_input">비밀번호</label>
        <input id="new_password_input" type="password" name="new_password" />
        <label for="new_password_check_input">비밀번호 확인</label>
        <input id="new_password_check_input" type="password" name="new_password_check" />

        <label for="_show_password_field">
          <input id="_show_password_field" type="checkbox" />
          비밀번호 보이기
        </label>

        <script>
          pwShowCheckBox = document.getElementById('_show_password_field');
          pwInputField = document.getElementById('new_password_input');
          pwCheckInputField = document.getElementById('new_password_check_input');

          pwShowCheckBox.onclick = (cb) => {
            pwInputField.type = pwShowCheckBox.checked ? "text" : "password";
            pwCheckInputField.type = pwShowCheckBox.checked ? "text" : "password";
          };

          function sendPasswordResetRequest() {
            if (pwInputField.value
              && pwInputField.value.length > 0
              && pwInputField.value === pwCheckInputField.value) {
              var resultPre = document.getElementById('password_reset_request_result_pre');
              var formElement = document.getElementById('password_reset_form');
              var formData = formToJson('password_reset_form');
              console.log(formData);
              var xhr = new XMLHttpRequest();
              xhr.onload = () => {
                var isSuccess = ''
                if (Math.floor(xhr.status / 100) === 2 && JSON.parse(xhr.response).success === true) {
                  isSuccess = 'SUCCESS!';
                  alert('비밀번호를 성공적으로 변경했습니다,\n다시 로그인을 해 주세요!');
                } else {
                  isSuccess = 'FAILED!';
                  errorMessage = '비밀번호 변경을 실패했습니다.\n';
                  if (JSON.parse(xhr.response).sub_code)
                    errorMessage += '이유 : (' + JSON.parse(xhr.response).sub_code + ')';
                  alert(errorMessage);
                }

                resultPre.textContent = isSuccess + ' CODE = ' + xhr.status.toString();
                resultPre.textContent += '\r\nRESULT_DATA = ' + xhr.response;
              }

              pathSplit = window.location.pathname.split('/');
              tokenString = pathSplit[pathSplit.length - 1];
              targetPath = formElement.action + tokenString;

              xhr.open('POST', targetPath);
              xhr.setRequestHeader("Content-Type", "application/json");
              xhr.send(formData);
            }
            else if (!pwInputField.value || pwInputField.value.length <= 0)
              alert('비밀번호를 입력해주세요.');
            else if (!pwCheckInputField.value || pwCheckInputField.value.length <= 0)
              alert('새로 입력하신 비밀번호를 \'비밀번호 확인\'에 입력해주세요.');
            else alert('\'비밀번호\'와 \'비밀번호 확인\'의 입력이 일치하지 않습니다.');
          }
        </script>

        <input id="password_reset_submit" type="submit" onclick="sendPasswordResetRequest(); return false;" />
      </form>

      <h5>Request Result(PRE)</h5>
      <pre id="password_reset_request_result_pre"></pre>
    </aside>

  </section>
</body>

</html>
