{% if language == 'kor' %}
<!-- ko -->
<div>
  이 메일은 {{ user_nick }}님 계정의 비밀번호를 초기화하기 위해 <a href="{{ domain_url }}">{{ project_name }}</a>에서 전송되었어요.
  <br />
  <a href='{{ api_base_url }}/account/email/{{ email_key }}'>
    비밀번호를 초기화할게요!
  </a>
  <br />
  비밀번호 변경을 요청한 적이 없다면 만약을 위해 {{ project_name }}의 계정 설정에서 비밀번호를 변경해주세요.<br />
  또한 48시간 후에 이 메일은 무효가 돼요.<br />
  <br />
  이 메일 주소는 발신전용이에요.
</div>

{% elif language == 'eng' %}
<!-- en -->
<div>
  This email was sent from <a href="{{ domain_url }}">{{ project_name }}</a> to reset your account {{ user_nick }}'s
  password.
  <br />
  <a href='{{ api_base_url }}/account/email/{{ email_key }}'>
    Reset my account password!
  </a>
  <br />
  If you have not requested about resetting the account password, please change your password on {{ project_name }}
  account setting page for the security safety.
  And if there is no response within 48 hours, this mail will be invalid.
  <br />
  This e-mail address is send-only.
</div>
{% endif %}
